<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Miniblog - add new post</title>
</head>
<body>
<form th:action="@{/posts/add}" th:object="${newPostForm}" method="post">
    <label>Post title:</label>
    <input type="text" th:field="*{title}" placeholder="Enter title...">
   <span th:errors="*{title}"></span>
    <br>
    Content: <textarea th:field="*{postContent}" rows="10" cols="50"></textarea>
    <span th:errors="*{postContent}"></span>
    <br>
    <input type="submit" value="Add new post">
</form>
</body>
</html>
